<div class="form-group">
    <label for="title">Title</label>
    <input  required value="<%=article.title%>" type="text" name="title" class="form-control">
</div>
<div class="form-group">  
    <label for="description"> Description</label>
    <textarea  required type="text" name="description" class="form-control" id="description" ><%=article.description%></textarea>
</div>
<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea  required type="text" name="markdown" class="form-control" id="markdown" ><%=article.markdown%></textarea>

</div>
<br><br>
<a href="/" class="btn btn-secondary"> Cancel</a> 
<button type="submit" clas="btn btn-primary">Save</button>
